.contact {
    display: flex;
    width: 500px;
    min-height: 100px;
    border: 1px solid black;
    margin: 15px auto;
    padding: 5px;
    justify-content: space-between;
}

.avatar {
    width: 20%;
    border: 1px solid black;
}

.contactName {
    width: 55%;
}

.showInfo {
    width: 18%;
    height: 20px;
}

.modal {
    position: absolute;
    top: 20%;
    left: 35%;
    width: 350px;
    min-height: 200px;
    border: 1px solid black;
    background: #ffffff;
    padding: 10px;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.infoImg {
    width: 30%;
    height: 100px;
}

.infoInModal {
    width: 60%;
}

.nameInModal {
    margin-top: 0;
}

.txtForLink {
    margin-bottom: 5px;
}

a {
    display: block;
}

.btns {
    text-align: center;
}

.editBtn,
.delBtn {
    margin: 5px;
}

.closeModal {
    display: block;
    margin-left: auto;
}