.txtForInput {
    margin-bottom: 0;
}

input {
    width: 300px;
}

.preview {
    display: block;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin-bottom: 40px;
}

.saveBtn {
    margin-right: 30px;
}